.BreadcrumbComponent {
    margin-top: -5px;
    margin-bottom: -10px;
    display:inline-block;
    width: min-content;
    height: min-content;
      
    .ms-Breadcrumb-list {
      height: 31px;
      padding: 15px 0px 20px 0px ;
      vertical-align: middle;
  
      .ms-Breadcrumb-listItem { 
        font-size: 12px;
      }
    }     
       
  }
  
  