.ContextBarComponent {
  position: absolute;
  bottom: -28px;
  display: block;
  width: 100%;
  height: 28px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 110px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.4);

  .context {
    display: grid;
    grid-template-columns: min-content 1fr min-content;

    .product {
      margin: 17px 28px;
      color: var(--color-grey-700);
    }
    .ms-Breadcrumb {
      width: min-content;
      .ms-Breadcrumb-listItem {
        height: 31px;
        .ms-Breadcrumb-item {
          font-size: 12px;
        }
      }
    }
    .documentation {
      justify-self: right;
    }
  }
}
