.PPHeaderComponent {
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 150px 1fr min-content 175px;
  height: 44px;
  width: 100%;
  margin-bottom: 30px;

  .logo {
    margin: 10px 28px;
  }

  .search {
    margin: 6px;
    width: 200px;
  }

  .bar {
    i {
      font-size: 18px;
      padding: 5px;
      margin: 10px 3px;
    }

    .imagePlaceholder {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-top: 12px;
      background-color: var(--color-grey-300);
    }
  }
}

@import "./Drawer/index.scss";
@import "./ContextBar/index.scss";
